<a href="https://colab.research.google.com/github/kalai2315/Python_Basics/blob/main/Basic_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet():
  print("Hello, World")

In [ ]:
greet()

Hello, World

In [ ]:
def greet():
  print("Hello, World")

greet()

Hello, World

In [ ]:
def greet(x,y):# parametrs are variables
  print(x + " " + y)

greet("Hello", "World") # arguments---> values

Hello World

In [ ]:
def add(a,b):
  return a+b

output = add(2,4)
print(output)

6

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(2,4)

6

In [ ]:

def myfunc(b):
  print("The value of b is", b)
  b=100
  print("The new value of b is", b)
a=10
#calling a function
myfunc(a)

The value of b is 10
The new value of b is 100

In [ ]:

def myfunc(d):
  print("The value of d is", d)
  d[0]=99
  print("The new value of d is", d)
c= [10,20,30]
myfunc(c)

The value of d is [10, 20, 30]
The new value of d is [99, 20, 30]

In [ ]:
def myfunc(food):
  for x in food:
    print(x)
fruits = ["apple", "banana", "cherry"]
myfunc(fruits)

apple
banana
cherry

In [ ]:
list = ["car", "bike", "cycle", "scooter"]

def loop(x):
  print(x*3)

loop(list)

['car', 'bike', 'cycle', 'scooter', 'car', 'bike', 'cycle', 'scooter', 'car', 'bike', 'cycle', 'scooter']

In [ ]:
list = ["car", "bike", "cycle", "scooter"]

def loop(x):
  print((x+ " ")*3)

def map_simple(crazy, list):
  for item in list:
    crazy(item)

map_simple(loop, list)

car car car
bike bike bike
cycle cycle cycle
scooter scooter scooter

**function Arguments**

Required Argumnents

Keyword Argumnents

Default Argumenst

Variable length Argumnents

In [ ]:
#required arguments
def greet(name, msg):
  print("Hello", name + ', ' + msg)

greet("Monica", "Good morning!")
#greet("Monica") #error

Hello Monica, Good morning!

In [ ]:
#keyword arguments
def greet(name, msg):
  print("Hello", name + ', ' + msg)

greet( msg = "Good morning!", name = "Monica")

Hello Monica, Good morning!

In [ ]:
#default arguments
def greet(name, msg="Good morning!"):
  print("Hello", name + ', ' + msg)

greet("Monica")
greet("Monica", "How do you do?")

Hello Monica, How do you do?

In [ ]:
def printinfo(name, age=35):
  print("Name:", name)
  print("Age:", age)
  return;

In [ ]:
#printinfo(age=50, name="miki")
printinfo(name="miki")

Name: miki
Age: 35

In [ ]:
#arbitrary arguments
def greet(*names):
  for name in names:
    print("Hello", name)

greet("Monica", "Luke", "Steve", "John")

Hello Monica
Hello Luke
Hello Steve
Hello John

In [ ]:
def varlen(a,*b):
  print("the output for a is ", a)
  print("the output for b is ", b)

varlength = (100,200,300,400,500)
varlen(*varlength)

the output for a is  100
the output for b is  (200, 300, 400, 500)

In [ ]:
# Normal function to calculate factorial
def fact(n):
    if n < 0:
        return "Enter a valid non-negative integer"

    if n == 0 or n == 1:
        return 1

    result = 1
    for i in range(2, n + 1):
        result *= i

    return result

In [ ]:
fact()

'Enter a valid non-negative integer'

**Debugging**

In [ ]:
def divide_numbers(a, b):
    return a / b

x = 10
y = 0
result = divide_numbers(x, y)
print(result)

# **lambda, filter(), and map()**

**A lambda function is an anonymous function defined using the lambda keyword. It can take multiple arguments but can only contain a single expression.**

In [ ]:
#lambda arguments: expression

# Normal function
def square(x):
    return x * x
print(square(5))

In [ ]:
a=lambda x,y:x*y
print(a(2,3))

6

In [ ]:
# Equivalent lambda function
square_lambda = lambda x: x * x
print(square_lambda(5))

In [ ]:
x = lambda a, b,c : a * b*c
print(x(5, 6,2))

60

**The map() function applies a given function to every item of an iterable (like a list or tuple) and returns an iterator with the results.**

**map(function, iterable)**

function: A function that performs an operation.

iterable: The sequence to be transformed.

--iter()
--next()

In [ ]:
x= "apple"
for i in range(len(x)):
  print(x[i])

a
p
p
l
e

In [ ]:
numbers = [1, 2, 3, 4, 5]
nums=[]
for x in numbers:
  nums.append(x*x)
print(nums)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]
a=list(map(lambda x:x*x,numbers))
print(a)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x * x, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

**The filter() function filters a sequence (like a list or tuple) based on a condition provided by a function. It returns an iterator containing elements for which the condition is True.**

**filter(function, iterable)**

function: A function that tests each element.

iterable: The sequence to be filtered.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

nums=[]
for x in numbers:
  if x%2==0:
    nums.append(x)
print(nums)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

# Filter even numbers and then square them
even_squared = list(map(lambda x: x * x, filter(lambda x: x % 2 == 0, numbers)))
print(even_squared)

In [ ]:
def fun(variable):
  letters = ['a', 'e', 'i', 'o', 'u']
  if (variable in letters):
    return True
  else:
    return False

sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

filtered = filter(fun, sequence)
print('The filtered letters are:')
for s in filtered:
  print(s)

The filtered letters are:
e
e

In [ ]:
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
a = list(filter(lambda x: x in ['a', 'e', 'i', 'o', 'u'], sequence))
print(a)
for s in a:
  print(s)

['e', 'e']
e
e