<a href="https://colab.research.google.com/github/kalai2315/Python_Basics/blob/main/Conditional_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditions

IF

IF else

if elif else

Comparision Operators

x == y

x!= y

x < y

x <= y

x > y

x >= y

In [ ]:
a=50
b=20
if a>b:
    print('a is greater than b')

In [ ]:
a=50
b=20
if a>b:
    print('a is greater than b')
else:
    print('b is greater than a')

In [ ]:
a=14
b=14
if a>b:
    print('a is greater than b')
elif a==b:
    print('a is equal to b')
else:
    print('b is greater than a')

In [ ]:
a=50
b=20
print('a is greater than b') if a>b else print('b is greater than a')

a is greater than b

In [ ]:
a=15
b=45
c=20
if a>b and a>c:
    print('a is the greatest number')
elif b>a and b>c:
    print('b is the greatest number')
else:
    print('c is the greatest number')

**Loops**

While

For

Break

Continue

 **for loop**

 uses iterables(lists, tuples, sets, dictionaries, string, range keyword) to run the loop.

In [ ]:
list1 = [1,2,3,4,5,6,7,8]

In [ ]:
for x in list1:
    print(x)

1
2
3
4
5
6
7
8

In [ ]:
word = 'Python'
for x in word:
    print(x)

P
y
t
h
o
n

range keyword

In [ ]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(1, 16))  #(start, stop+1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
list(range(0, 100, 10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
numbers = list(range(1,21))

In [ ]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
odd = []

for value in numbers:
    if value % 2 != 0:
        odd.append(value)

In [ ]:
odd

In [ ]:
even = []

for value in numbers:
    if value % 2 == 0:
        even.append(value)

In [ ]:
even

In [ ]:
numbers = list(range(1,21))

In [ ]:
odd_new = []
even_new = []

for value in numbers:
    if value % 2 != 0:
        odd_new.append(value)
    else:
        even_new.append(value)

**Control Flow Statements**

break

continue

break (stop the iteration)

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
for value in list1:
    if value == 5:
        break
    print(value)

1
2
3
4

continue(skip an iteration)

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
for value in list1:
    if value == 5:
        continue
    print(value)

1
2
3
4
6
7
8

In [ ]:
odd_list = []

for value in list1:
    if value % 2 == 0:
        continue
    odd_list.append(value)

In [ ]:
odd_list

**While loop**

In [ ]:
i = 0

while i < 5:
    print(i)
    i += 1 #i=i+1

0
1
2
3
4

In [ ]:
i = 0

while i < 5:
    print(i)
    if i == 3:
        break
    i += 1

0
1
2
3

In [ ]:
i = 0

while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5

In [ ]:
num = 0

while num < 10:
    num += 1
    if num % 2 == 0:  # If num is even, skip printing
        continue
    print(num)