<a href="https://colab.research.google.com/github/kalai2315/Python_Basics/blob/main/List_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Syntax: [expression ***for*** item ***in*** iterable ***if*** condition]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist=[x for x in fruits if "a" in x]
print(newlist)

In [ ]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

In [ ]:
numbers = [1, 2, 3, 4, 5]
num_list = [x for x in numbers]
print(num_list)

[1, 2, 3, 4, 5]

In [ ]:
num_list=[x for x in numbers if x<3]
print(num_list)

[1, 2]

In [ ]:
num_list=[x for x in range(10) if x<7]
print(num_list)

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
newlist=[x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
newlist=[x if x!="banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
squares = []
for i in range(10):
    squares.append(i ** 2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = [i ** 2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
evens = []
for i in range(10):
    if i % 2 == 0:
        evens.append(i)
print(evens)

In [ ]:
evens = [i for i in range(10) if i % 2 == 0]
print(evens)