<a href="https://colab.research.google.com/github/kalai2315/Python_Basics/blob/main/list_tuples_dictionaries_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = [10,20,30,40,50,60,70,60.7, 90.1, 'Python', [11,12,13,14]]

In [ ]:
list1

In [ ]:
list2 = [10,20,30,40,50,60,70]

In [ ]:
list3 = ['Python', 'Maths', 'Stats', 'Machine', 'Learning']

**indexing and slicing**

In [ ]:
list2

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
list2[3]

40

In [ ]:
list2[0]

10

In [ ]:
list2[2:5]

[30, 40, 50]

In [ ]:
list2[4:7]

[50, 60, 70]

In [ ]:
list2[0:7:2]

[10, 30, 50, 70]

In [ ]:
list2[0:2] + list2[5:7]

[10, 20, 60, 70]

In [ ]:
list2[1:2] + list2[4:6]

**Mutable Properties of a list**

In [ ]:
list2

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
list2[3] = 67

In [ ]:
list2[0:3] = [11, 35, 44]

In [ ]:
list2[0:3] = [100]

In [ ]:
list2

[10, 20, 30, 67, 50, 60, 70]

In [ ]:
list1

[10, 20, 30, 40, 50, 60, 70, 60.7, 90.1, 'Python', [11, 12, 13, 14]]

In [ ]:
list1[10]

In [ ]:
list1.index(90.1)

8

In [ ]:
list1.index([11, 12, 13, 14])

10

In [ ]:
list1[10][2] = 42

In [ ]:
list1

[10, 20, 30, 40, 50, 60, 70, 60.7, 90.1, 'Python', [11, 12, 42, 14]]

### Inserting the values in the list

In [ ]:
list2

In [ ]:
#insert a single value in a list at the end
list2.append(100)

In [ ]:
list2.append(5)

In [ ]:
list2.append('Maths')

In [ ]:
#insert multiple values into the list
list2.extend([66, 87, 92])

In [ ]:
#append insert the given list as it is into the original list
list2.append([90, 33])

In [ ]:
#insert an item at a particular item
list2.insert(2, 200)

Removing values from the list

In [ ]:
list2

In [ ]:
list2.pop(0)

In [ ]:
list2.pop(5)

In [ ]:
list2.remove('Maths')

In [ ]:
del list2[0:2]

Methods on the list

In [ ]:
list2

In [ ]:
list3 = list2.copy()

In [ ]:
id(list3)

In [ ]:
list2.sort() #sort the list by default in ascending order

In [ ]:
list2.sort(reverse = True)

In [ ]:
sorted_list3 = sorted(list3)

In [ ]:

sorted(list3, reverse = True)

In [ ]:
list2.reverse()

In [ ]:
len(list3)

In [ ]:
min(list3)

In [ ]:
sum(list3)

# **Tuples**

It is a collection of mix data type.

It is immutable.

In [ ]:
tuple1 = (10,20,30,40,50,70.6, 44.3)

In [ ]:
tuple1[3]

In [ ]:
tuple1[2:7:2]

In [ ]:
tuple1[5] = 900

In [ ]:
user_pins = (1001, 9987, 9943, 2234, 6676, 5543)

In [ ]:
temp = list(user_pins)

In [ ]:
temp.append(1100)

In [ ]:
user_pins = tuple(temp)

In [ ]:
user_pins

**Methods in tuple**

In [ ]:
tuple1

In [ ]:
tuple1.sort()

In [ ]:
tuple(sorted(tuple1))

In [ ]:
tuple(sorted(tuple1, reverse = True))

In [ ]:
tuple1.index(30)

In [ ]:
min(tuple1)

In [ ]:
sum(tuple1)

**Sets**

Sets are mutable data types.

Set is unordered collection of items.

Set only allow unique values to be stored.

In [ ]:
set1 = {10, 20, 30, 30, 40, 50, 50, 60, 70, 80, 90}

In [ ]:
print(set1) #only unique values in the set and they are unordered by default.

In [ ]:
#indexing and slicing doesn't work in set since they are unordered
set1[3]

In [ ]:
list1 = [10, 20, 30, 30, 40, 50, 50, 60, 70, 80, 90]

In [ ]:
list1 = list(set(list1))

In [ ]:
#final result is a list with unique elements
list1

Inserting values into a set

In [ ]:
#to insert one element into a set at a time
set1.add(100)

In [ ]:
print(set1)

In [ ]:
#to insert multiple values into the set
set1.update({89, 45, 77})

In [ ]:
print(set1)

Delete Values from a set

In [ ]:
#remove an item from the set randomly
set1.pop()

In [ ]:
#remove a particular item from the set
set1.remove(89)

In [ ]:
#remove item using `discard` method
set1.discard(90)

In [ ]:
set1.remove(900)

In [ ]:
set1.discard(900)

**Some Set Methods**

Union

Intersection

Difference

Symmetric Difference

isdisjoint

issubset

issuperset

In [ ]:
set2 = {10,20,30,40,50,60,70}
set3 = {60,70,80,90,100,110,120}

In [ ]:
#set of items from the both the sets which must be unique
set2.union(set3)

In [ ]:
#common elements in both the sets
set2.intersection(set3)

In [ ]:
#items which are purely in set2 and no items belonging to set3
set2.difference(set3)

In [ ]:
#items that belong to set3 and no items belonging to set2
set3.difference(set2)

In [ ]:
#set of items from set2 and set3 except the common ones
set2.symmetric_difference(set3)

In [ ]:
#return True if no elements in two sets are common
set2.isdisjoint(set3)

In [ ]:
set4 = {10, 30, 40, 50}

In [ ]:
#if every element of set4 is in set2 then set4 is subset of set2
set4.issubset(set2)

In [ ]:
#reverse of subset where every element of set4 must be in set2
set2.issuperset(set4)

**Dictionaries**

Dictionaries are unordered collection of items.

It is a mutable data types.

It stores key-value pairs.

It only allow unique values.

In [ ]:
dict1 = {'name': 'Kalai', 'place': 'India', 'roles': ['Data Scientist', 'Data Science Trainer'],
         'hobbies': ('coding', 'books'), 'education': {1: 'Masters', 2: 'Bachelors'}}

In [ ]:
dict1

{'name': 'Kalai',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Trainer'],
 'hobbies': ('hobbiy', 'books'),
 'education': {1: 'Masters', 2: 'Bachelors'}}

Accessing the values of a dictionary

In [ ]:
#to access a value from a dictionary we access the keys related to that value
x= dict1['roles']
x

['Data Scientist', 'Data Science Trainer']

In [ ]:
#alternate way to access the values of a dictionary
dict1.get('roles')

['Data Scientist', 'Data Science Trainer']

In [ ]:
#double indexing to access the data from inside the list of roles
dict1['roles'][1]

'Data Science Trainer'

In [ ]:
#double indexing to access the data from inside the inner dictionary
dict1['education'][2]

'Bachelors'

Inserting values into a Dictionary

In [ ]:
#to insert values in to a dictionary, we just need to provide new key and new value like dict[key] = value
dict1['new_key'] = 45

In [ ]:
dict1.update({'name': 'KalaiM'})

In [ ]:
dict1

{'name': 'KalaiM',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Trainer'],
 'hobbies': ('coding', 'books'),
 'education': {1: 'Masters', 2: 'Bachelors'},
 'new_key': 45}

In [ ]:
dict1.update({'colour': "yellow"})

In [ ]:
dict1

{'name': 'KalaiM',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Trainer'],
 'hobbies': ('coding', 'books'),
 'education': {1: 'Masters', 2: 'Bachelors'},
 'new_key': 45,
 'colour': 'yellow'}

In [ ]:
print(len(dict1))

7

In [ ]:
print(type(dict1))

<class 'dict'>

**Deleting values from a dictionary**

In [ ]:
#remove the last inserted pair from the dictionary
dict1.popitem()

In [ ]:
#remove a particular pair using its key
dict1.pop('new_key')

In [ ]:
#alternate method of deleting a pair using del keyword
del dict1['place']

**Dictionary Methods**

In [ ]:
#returns a copy of the dictionary dict1
dict2 = dict1.copy()

In [ ]:
#returns a list of keys of dictionary
dict1.keys()

dict_keys(['name', 'place', 'roles', 'hobbies', 'education', 'new_key', 'colour'])

In [ ]:
#returns a list of values of dictionary
dict1.values()

dict_values(['KalaiM', 'India', ['Data Scientist', 'Data Science Trainer'], ('coding', 'books'), {1: 'Masters', 2: 'Bachelors'}, 45, 'yellow'])

In [ ]:
#Returns a list containing a tuple for each key value pair
dict1.items()

dict_items([('name', 'KalaiM'), ('place', 'India'), ('roles', ['Data Scientist', 'Data Science Trainer']), ('hobbies', ('coding', 'books')), ('education', {1: 'Masters', 2: 'Bachelors'}), ('new_key', 45), ('colour', 'yellow')])